<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="NLog NLog.xsd"
      autoReload="true"
      throwExceptions="false">
  <targets>
    <target xsi:type="File" name="logfile" fileName="nlog/nlog-all-${shortdate}.log"
            lineEnding="CR"
            encoding ="utf-8"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
    <target xsi:type="Console" name="logconsole"
            lineEnding="CR"
            encoding ="utf-8"
            layout="${level}: ${message} 
            ${newline}${all-event-properties} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
  </rules>
</nlog>